BOT_TOKEN=
BOT_ADMIN_IDS=
BOT_DATABASE_EXPORT=False
BOT_STATUS_NOTIFICATION=True
BOT_TIMEZONE=Europe/Moscow
BOT_USER_CACHE_TTL=300
BOT_THROTTLE_RATE=0.5
PATH_DATABASE=tgbot/data/database.db
PATH_LOGS=tgbot/data/logs.log
